.wrapper{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width:100vw;
    display:flex;
}

.content{
    flex:1;
}